::after,
::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
}

/* font-family: 'Domine', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 15px;
    color: #9aa0ab;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

._red {
    color: #fa5c65;
}

._black {
    color: #314a5b;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position:  center top;
}
/* ---------------header----------------------- */
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
}
.header__container {
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    /* align-items: center; */
}

.header__logo__item {
    display: block;
    background-color: #fa5c65;
    width: 140px;
    height: 75px; 
    border-radius: 0 0 5px 5px;
    text-align: center;
}

.header__logo {
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Domine', serif;
    color: #fff;
    padding: 40px 14px 0;
}
.header__menu {
    /* margin: 15px 0; */

}
.menu {
    padding: 5px 0;

}
.menu__list {
    flex-wrap: wrap;
    display: flex;
}
.menu__item {
    margin: 0 20px 0 20px;
}



.menu__link {
    color: #263742;
    font-family: 'Montserrat', sans-serif;
    line-height: 171%;
    font-size: 14px;
    font-weight: 400;
}

@media (max-width: 479px) {
    .menu__link {
        font-size: 18px;
     }
}

/* @media (max-width: 479px) {
    .icon {
        font-size: 38px;
    } 
} */

.menu__icon {
    margin: 0 0 0 25px ;
}

@media (max-width: 479px) {
    .menu__icon:not(:last-child) {
        margin: 0 0 0 65px ;
    }
}

.icon {
    display: block;
    width: 20px;
    color: #fa5c65;
    font-size: 18px;
    /* padding: 0 10px; */
}

/* ------------page------------------------ */
.page {
    flex: 1 1 auto;
}

/*------------ main-block------------------ */

.page__main-block {

}
.main-block {
    position: relative;
}
.main-block__container {
}

.main-block__body {
    padding: 300px 0 380px 0;
    position: relative;
    z-index: 2;
    max-width: 540px;
}

@media (max-width: 992px) {
    .main-block__body {
        padding: 140px 0 300px 0;
    }
}

@media (max-width: 780px) {
    .main-block__body {
        padding: 140px 0 200px 0;
    }
    
}  

@media (max-width: 479px) {
    .main-block__body {
        padding: 140px 0 150px 0;
    }
    
} 

/* .main-block__body > *:not(:last-child) {
    margin: 10px 0 20px 0;
} */

.main-block__title {
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 48px;
    font-weight: bold;
    color: #314a5b;
    text-transform: uppercase;
    line-height: calc(53/48*100%);
    /* margin: 20px 0 0 0; */

}

@media (max-width: 479px) {
    .main-block__title {
        font-size: 34px;
        margin: 30px 0 0 0; 
    }
}

.main-block__text {
    font-size: 20px;
    font-weight: 400;
    color: #314a5b;
    margin: 15px 0 ;
}
.main-block__buttons {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 30px 0 ;
}

.main-block__button {
    display: flex;
    min-height: 64px;
    align-items: center;
    font-weight: 700;
    background-color: #fa5c65;
    border-radius: 7px;
    color: #fff;
    padding: 5px 40px;
    margin: 15px 0 ;
}

.main-block__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media (max-width: 780px) {
    .main-block__img img {
        object-position: right;
        opacity: 0.5;
    }

}    

@media (max-width: 479px) {
    .main-block__img img {
        object-position: 60% 0; 
    }
}

/* @media (max-width: 780px) {   
    .main-block__img {
        opacity: 0.5;
    }
} */

/* @media (max-width: 2000px) {
    .main-block__img img {
        object-position: center top;
    }

} */

/* .main-block__img img {
    object-position:  center top;
} */

/* ------------features------------ */

.page__features {
}
.features {
}
.features_container {
}
 
.features__body {
    /* display: flex;
    flex-wrap: wrap; */
}

@media (min-width:670px) {
    .features__body {
        display: flex;
        margin: 0 -30px;
        flex-wrap: wrap;
    }
}

.features__column {
    
    flex: 0 1 27%;
}

@media (min-width:670px) {
    .features__column {
        padding: 0 30px;
    }
}

@media (max-width:992px) {
    .features__column {
        flex: 0 1 40%;
    }
    .features__column:last-child {
        flex: 1 1 100%;
    }
}

.features__item {
    height: 100%;
    /* height: 460px; */
    /* max-width: 260px; */
    padding: 80px 0;
    position: relative;
}

@media (max-width:479px) {
    .features__item {
        padding: 10px 25px;
        margin: -15px 0;
    }
}

.item-feature {
}
.item-feature__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight:700;
    color: #465065;
    line-height: 1;
    padding-right: 60px;
    text-transform: uppercase;
}

@media (max-width: 479px) {
    .item-feature__title {
        font-size: 22px; 
    }
}

.item-feature__text {
    margin: 25px 0;
    line-height: 153%;
    /* max-width: 205px; */
}
.item-feature__rm {
    /* margin: 5px 0; */
    /* position: absolute; */
    /* bottom: 100px; */
    padding: 15px 0;
}
.item-feature_read {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.item-feature_read::after {
    display: block;
    content: "";
    width: 100px;
    height: 9px;
    margin-top: -10px;
    background: url(../img/arr.png) center no-repeat;
}

/* -------------portfolio---------------- */

.page__portfolio {
}
.portfolio {
}
.portfolio__container {
}

.portfolio__body {
    display: flex;
    flex-wrap: wrap;
}
.portfolio__column {
    flex: 1 1 50%;
}
.portfolio__item {
}

@media (max-width:479px) {
    .portfolio__item {
        padding: 25px 25px;
        margin: -15px 0;
    }
    .portfolio__item img {
        width: 100%;
    }
}

.portfolio__item img {
    /* margin: -60px 0 0 0; */
}

.item-block {
}
.item-block__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #314a5b;
    text-transform: uppercase;
}

@media (max-width: 844px) {
    .item-block__title {
        /* font-size: 34px;  */
        margin: 30px 0 0 0;
    }
    .item-block__text {
        /* height: 100%; */
    }
    .portfolio__column {
        flex: 1 1 40%;
    }
}

@media (max-width: 479px) {
    .item-block__title {
        font-size: 30px; 
        /* margin: -10px 0; */
    }
    .portfolio__column {
        flex: 1 1 100%;
    }
}

.item-block__subtitle {
    font-size: 16px;
    color: #314a5b;
    line-height: 194%;
}
.item-block__text {
    line-height: 147%;
}

/* ----------our-team---------- */

.page__our-team {
}
.our-team {
}
.our-team__container {
}



.our-team__about {
}

@media (max-width: 479px) {
    .our-team__about {
        padding: 10px 25px;
    }
    .our-team__column {
        padding: 20px 25px;
    }
}

.our-team__header {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #314a5b;
    text-transform: uppercase;
    margin-top: 100px;
}

@media (max-width: 479px) {
    .our-team__header {
        margin-top: 40px;
    }

}

.our-team__about-text {
    line-height: 188%;
    font-size: 16px;
    margin-bottom: 45px;
}
.our-team__body {
    display: flex;
    flex-wrap: wrap;
}
.our-team__column {
    flex: 1 1 30%;
}

.our-team__column:not(:last-child) {
    padding-right: 30px;
    }

@media (max-width:992px) {
    .our-team__column {
        flex: 0 1 40%;
    }
    .our-team__column:last-child {
        flex: 1 1 100%;
    }
}    

@media (max-width:744px) {
    .our-team__column {
        flex: 1 1 100%;
        /* padding-right: 5px; */
        padding: 20px 5px;
    }

}   

.our-team__column-body {
    display: flex;

}

.our-team__subcolumn:not(:last-child) {
    margin-right: 20px;
}

.our-team__item {
    padding-top: 15px;
}
.our-team__name {
    line-height: 160%;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #314a5b;
    text-transform: uppercase;
}
.our-team__profession {
    line-height: 164%;
    font-size: 14px;
    margin-bottom: 10px;
}
.our-team__hobbies {
    line-height: 143%;
    font-size: 14px;
}

.our-team__rm {
    margin-top: 70px;
    float: right;
}

@media (max-width:992px) {
    .our-team__rm {
        margin-top: 35px;
        float: left;
    }
}

@media (max-width: 479px){
    .our-team__rm {
        margin-top: 15px;
        padding: 0 25px;
    }
}


/* ------------footer------------------ */

.footer {
}
.footer__body {
}

@media (max-width: 479px){
    .footer__body {

        padding: 0 25px;
    }
}

.footer__container {
}
.-container {
}
.footer__line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #b9c0c6;
    color: #b9c0c6;
    margin-top: 60px;
}
.footer__subbody {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer__column {
}
.footer_item {
    font-size: 13px;
    color: #b9c0c6;
    line-height: 346%;
    padding: 30px 10px;
    /* width: 300px; */
}

@media (max-width:744px) {
    .footer_item {
        flex: 1 1 70%;
        padding: 10px 0;
    }
    /* .footer__column {
        flex: 1 1 70%;
    } */

}  

.footer_social {
    padding: 3px;
    margin-right: 18px;
    color: #b9c0c6;
    font-size: 22px;
}
